{% extends "hub.html" %}

{% block landing %}

<body>
    <header class="flex" id="landing">
        <section class="flex_content">
            <article class="padding_1x">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <div id="T1" class="heading">FILMGENIE</div>
                    <div id="T2" class="heading">FILMGENIE</div>
                    <div id="T3" class="heading">FILMGENIE</div>
                    <div id="T4" class="heading">FILMGENIE</div>
                    <div id="T5" class="heading">FILMGENIE</div>
                </div>
            </article>

            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
        </section>
        <div id="Description">
            <p>
                A novel unbias movie recommendation machine using sentiment analysis & GNNs
            </p>
        </div>
        <p class="nav-begin"></p>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
    </header>








    <nav id="nav">
        <br></br>
        <br></br>
        <br></br>


        <ul>
            <li>
                <a href="#section1">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Data
                </a>
            </li>
            <li>
                <a href="#section2">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    NLP
                </a>
            </li>
            <li>
                <a href="#section3">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    GNN
                </a>
            </li>
            <li>
                <a href="#section4">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Pipeline
                </a>
            </li>
            <li>
                <a href="#section5">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Recommender
                </a>
            </li>
        </ul>
    </nav>



    <!-- <section id="section1" class="content-section">
        <h1>Data Preprocessing</h1>
        <h1>Data Preprocessing</h1>
        <h1>Data Preprocessing</h1>
        <h1>Data Preprocessing</h1>
        <div id="text">
            is in. Country hearted be of justice sending. On so they as with room cold

            company thought wishing colonel it prevent he in. Pretended residence are something far engrossed old off.
            is in. Country hearted be of justice sending. On so they as with room cold

            company thought wishing colonel it prevent he in. Pretended residence are something far engrossed old off.
            is in. Country hearted be of justice sending. On so they as with room cold

            company thought wishing colonel it prevent he in. Pretended residence are something far engrossed old off.
            is in. Country hearted be
        </div>
    </section> -->




    {% block content %}
    {% endblock content%}


    {% endblock landing %}